<ion-header>
    <ion-navbar color="primary">
        <ion-title>Chats</ion-title>
        <ion-buttons end>
            <ion-spinner color="light" *ngIf="!(chats)"></ion-spinner>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
     <a ion-item *ngFor="let chat of chats" (click)="openChat(chat.key)">
        <ion-avatar item-left>
                <img *ngIf="!chat.picture" src="assets/images/default.jpg">
                <img *ngIf="chat.picture" src="{{chat.picture}}">
        </ion-avatar>
        <span>{{chat.email}}</span>
     </a>
</ion-content>